* {
	margin: 0;
	padding: 0;	
	font-family: 'Raleway', sans-serif;
}

#landing-jumbo {
	height: 60vh;
	display: flex;
	flex-wrap: wrap;
	background-color: #05386B;
	align-items: center;
	color: #EDF5E1;

}


#landing-jumbo h1 {
	font-family: 'Work Sans', sans-serif;
	font-weight: lighter;
	font-stretch: expanded
}

#landing-jumbo p {
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;	
	color: #5CDB95;
}

.body-container {
	background-color: #EDF5E1;
	margin-top: 3%;
	margin-bottom: 1%;
	border: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom:5%;
}

.body-container p {
	background-color: #EDF5E1;
}

.body-container a {
	background-color: #EDF5E1;
}

.body-container .card {
	background-color: #EDF5E1;
}

.nav-cards {
	display: flex;
	margin-bottom: 5%;
	margin-right: 3%;
	margin-left: 3%;
	margin-top: auto;
	height: 40vh;
}


.card {
	width: 60%;
	margin-left: 5%;
	margin-right:5%;
	margin-top: 5%;
	display: flex;
	align-items: center;
	/*padding: 3%;*/
}

.card-text {
	color: #05386B;
	font-weight: 900;
	font-size:105%; 
}

.card-body > a {
	background-color: #05386B;
	color:#EDF5E1;
	border-color:#05386B;
}

.responsive {

	width: 55%;
	height: auto;

}

.portfolio-container {
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: 1%;
	margin-bottom:1%;
}

.portfolio-row {
	display: flex;
	flex-wrap: wrap;
	padding-bottom:5%;
	color: #5CDB95;
	background-color:#EDF5E1;
	padding-top: 2%;
}

.col-md-12 {
	padding-bottom:1%;
	padding-top: 2%;
	background-color:#EDF5E1;
	font-color: #5CDB95;
	text-align: center;
}

.col-md-12 label {
	color: #05386B;
	font-weight: bolder;
}

.projects a {
	color: #05386B;
	font-weight: bolder;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:40%;
    position:relative;
    height:0;
}

.contact-container {
	background-color:#EDF5E1;
	margin: none;
	padding: none;
	height: 50vh;
}

#contact h2{
	margin-top: 0%;
	padding-top: .5%;
	padding-bottom: .5%;
	color: #5CDB95;
	background-color: #05386B;
	text-align: center;
}

#contact-input {

	text-align: center;
	padding-left: .3%;
	margin-left: .3%;
	margin-right: .3%;
	padding-right: .3%;
	padding-bottom: 6%;
	padding-top: 3%;
	display-flex: flex;
}

#service {
	margin-top: 0%;
	padding-top: .5%;
	padding-bottom: .5%;
	color: #05386B;
	background-color: #EDF5E1;
	text-align: center;
}

#section-contact {

	padding-bottom: 5%;
	background-color: #EDF5E1;

}

#service-inquiry {
	text-align:center;
}

#service-inquiry button {
  border: none;
  background-color: #05386B;
  color: #5CDB95;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block; 
  font-size: 16px;
  margin: 3px 1px;
  cursor: pointer;
  border-radius: 10px;
}

textarea {
  outline: none;
}

.col-md-3 {
	display: flex;
	flex-wrap: wrap;

}

.col-md-3 label {
	font-weight: 800;
	color: #05386B;
}


.all-footer {
	display: flex;
	background-color: #05386B;
	align-items: center;
	color: #EDF5E1;
	justify-content: center;
	margin-bottom:none;
	margin-top: 3%;
	vertical-align: middle;
	padding-top: 1%;
}

.all-footer p {
	color: #5CDB95;
}

.all-footer a {
	color: #EDF5E1
}